@font-face{font-family:'freddito';src:url("fonts/freddito.eot");src:url("fonts/freddito.eot?#iefix") format('embedded-opentype'),url("fonts/freddito.woff") format('woff'),url("fonts/freddito.ttf") format('truetype'),url("fonts/freddito.svg#freddito") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'freddito';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.iconito-arrow-up,.iconito-arrow-down,.iconito-star,.iconito-star-2{font-family:'freddito';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;text-decoration:none;line-height:1;-webkit-font-smoothing:antialiased}
.iconito-arrow-up:before{content:"\e000"}
.iconito-arrow-down:before{content:"\e001"}
.iconito-star:before{content:"\e003"}
.iconito-star-2:before{content:"\e002"}
a{color:#54aacf}
a:hover{text-decoration:none}
a:visited{color:#54aacf}
body{background:#cbf5f5;color:#333;font-family:"Open Sans";font-size:16px;text-align:left}
header{background:#222;border-bottom:3px solid #0af;color:#ddd;margin:0;padding:.5em;position:fixed;width:100%;}
header img{width:100%}
header h1{font-size:18px;font-weight:normal;margin:0;padding:0}
header #avatar,header #logo,header #titulo_nav{display:inline-block;vertical-align:top}
header #avatar,header #logo{height:40px;width:40px}
header #avatar a{background:#444;display:block;margin:0;padding:3px;text-decoration:none}
header #titulo_nav{width:70%;}
header #titulo_nav nav a{color:#fff;border-bottom:4px solid #0af;border-left:1px solid #0af;border-right:1px solid #0af;font-size:.8em;padding:.1em 1em;text-decoration:none}
header #titulo_nav nav a:hover{border-color:#fff}
#contenido{padding:4em .5em;}
#contenido #nota{background:#fafad6;border-radius:1em;font-size:.8em;height:3em;margin:1em;overflow:hidden;padding:0 2em;text-align:justify;-webkit-transition:all 1s ease}
#contenido #nota:hover{height:20em}
#contenido .item{background:#fff;border:2px solid #ddd;border-radius:.5em;margin:.5em 0 0 0;overflow:hidden;padding:.5em;}
#contenido .item h2{font-size:16px;margin:0;padding:0}
#contenido .item .autor{font-size:.7em;margin:-3em 0 0 15%;}
#contenido .item .autor p{display:inline}
#contenido .item .autor .iconito-star{color:#cc0;cursor:pointer;display:inline-block;font-size:1.5em}
#contenido .item .autor .iconito-star:hover:before{color:#ed0;content:"\e003"}
#contenido .item .autor .tag{background:#80ccb2;border-radius:.5em;color:#fff;cursor:pointer;display:inline-block;font-weight:bold;padding:.5em;margin:0 0 2px 1em}
#contenido .item .autor .tag:hover{background:#589d86}
#contenido .item .titulo_item,#contenido .item .votos{display:inline-block;vertical-align:top}
#contenido .item .titulo_item{width:80%;}
#contenido .item .titulo_item figure{float:right}
#contenido .item .votos{text-align:center;width:14%;}
#contenido .item .votos a{text-decoration:none;transition:all .5s ease}
#contenido .item .votos a:hover{font-size:1.3em}
#contenido .item .votos .down{color:#ffb341}
#contenido .item .votos .up{color:#4b8ff5}
@media screen and (min-width: 768px){body{background:#cbf5f5}
#contenido #nota{float:right;width:20%;height:auto;-webkit-transition:none}
#contenido #nota:hover{height:auto}
#contenido .item{display:inline-block;vertical-align:top;width:32%}
}@media screen and (min-width: 1208px){#contenido .item{width:30%}
}